body {
  margin:0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://avatars0.githubusercontent.com/u/4723433?s=200&v=4');
  background-size: 100%;
  height: 100%;

}
header{ z-index: 2;
	position: relative;
	font-size: ;
	display: block;
	font-size: 500%;
	background-color: rgba(0,0,0,0.0);
	font-weight: bold;
	color: white;
	margin-top: 20vh;
	overflow: hidden;
	
}

#root{ 
	background-color: rgba(0,0,0,0.3);
	position: relative;
	margin-top: -35vh;
	height: 100vh;
	
	overflow: hidden;
}

#typing{
	color: grey;
	font-size: 60px;
	margin-left: 10px;
}